<mat-card class="card-margin">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="32px">
      <div class="avatar">
        <img [src]="profilePic?.src" [alt]="profilePic?.alt" />
      </div>

      <div fxFlex>
        <h1>Hola! Soy {{ name }}!</h1>
        <h2>{{ position }}</h2>
        <div [innerHTML]="mainDescription"></div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <alo-social-links [socialLinks]="socialLinks"></alo-social-links>
  </mat-card-actions>
</mat-card>
